<div class="navbar navbar-default hidden-print">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <i class="fa fa-cube"></i> Mastodonte.js
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for app in applications %}
          {% if app !== "account" %}
            <li><a href="/{{ app }}">{{ app | upper }}</a></li>
          {% endif %}
        {% endfor %}
        <li><a href="/status">Status</a></li>
      </ul>
    </div>
  </div>
</div>