extends ../../../views/layout

block content
  .page-header
    h2 List Websites

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='/scraping/new')
      i.fa.fa-newspaper-o
      | &nbsp;
      | New Website
  hr
  .row
    each scrap in scraps
      .col-sm-4
        a(href='/scraping/' + scrap.id, style='color: #fff')
          .panel.panel-default(style='background-color: #ff6500')
            .panel-body
              span= scrap.name

block scripts
  script(src="/scraping/js/main.js")