extends ../../../views/layout

block content
  .page-header
    h2 New Scraping

  .well
    h4 Add a new scrap
    form(action="/scraping/new", method="post")
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label(for="inputName") Name
        input.form-control#inputName(type="text", name="name", placeholder="name")
      .form-group
        label(for="inputUrl") Url
        input.form-control#inputUrl(type="text", name="url", placeholder="url")
      .form-group
        label Fields
        .row
          .col-md-3
            input.form-control(name="field[]", type="text", placeholder="Selector")
          .col-md-3
            select.form-control(name="typeField[]")
              option(value="html") Html
              option(value="text") Text
              option(value="link") Link
          .col-md-3
            input.form-control(name="parent[]", type="text", placeholder="Parent selector")
          .col-md-2
            .checkbox
              label
                input(type="checkbox", name="unique[]", value="0")
                | Unique
      .form-group
        .text-right
          button.btn.btn-secondary#addField(type="button") Add field
      .form-group
        button.btn.btn-primary(type="submit")
          i.fa.fa-check
          | &nbsp;
          | Send
        a.btn.btn-default(href="/scraping")
          i.fa.fa-ban
          | &nbsp;
          | Cancel

block scripts
  script(src="/scraping/js/main.js")