extends ../../../views/layout

block content
  .page-header
    h2 List PDFs

  .btn-group.btn-group-justified
    a.btn.btn-primary(href=baseurl + '/new')
      i.fa.fa-plus
      | &nbsp;
      | New PDF

  hr
  .panel.panel-default
    .panel-heading
      button.btn.btn-danger#btnPdfDelete
        i.fa.fa-eraser
        | &nbsp;
        | Delete
    table.table.table-striped.table-hover
      tbody
        each pdf in pdfs
          tr
            td
              input(type="checkbox", value=pdf)
            td
              a(href=baseurl + "/" + pdf )= pdf

block scripts
  script(src=baseurl + "/js/main.js")
