.no-margin {
  margin: 0;

  @each $side in $sides {
    &.#{$side}, &-#{side} {
      margin-#{$side}: 0;
    }
  }
}

.no-padding {
  padding: 0;

  @each $side in $sides {
    &.#{$side}, &-#{$side} {
      padding-#{$side}: 0;
    }
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  &>[class^="col-"],
  &>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}