extends ../layout

block content
  .page-header
    h2 New Scraping

  .well
    h4 Add a new scrap
    form.form-horizontal(action="/scraping/new", method="post")
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-2.control-label(for="inputName") Name
        .col-sm-10
          input.form-control#inputName(type="text", name="name", placeholder="name")
      .form-group
        label.col-sm-2.control-label(for="inputUrl") Url
        .col-sm-10
          input.form-control#inputUrl(type="text", name="url", placeholder="url")
      .form-group
        label.col-sm-2.control-label Fields
        .col-sm-3
          input.form-control(name="field[]", type="text", placeholder="Selector")
        .col-sm-3
          select.form-control(name="typeField[]")
            option(value="html") Html
            option(value="text") Text
            option(value="link") Link
        .col-sm-3
          input.form-control(name="parent[]", type="text", placeholder="Parent selector")
      .form-group
        .col-sm-offset-2.col-sm-10.text-right
          button.btn.btn-secondary#addField(type="button") Add field
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type="submit") Send
          a.btn.btn-default(href="/scraping") Cancel