extends ../layout

block content
  .page-header
    h2= scrap.name

  .btn-group.btn-group-justified
    a.btn.btn-primary(href='/scraping/edit/' + scrap._id) Edit

  div.columns-sm-3
    each el in html
      div !{el}