.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.no-padding {
  &-top { padding-top: 0; }
  &-right { padding-right: 0; }
  &-bottom { padding-bottom: 0; }
  &-left { padding-left: 0; }
}